
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #FFEBE8;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #FFB6C1;
    padding: 15px 0;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav ul li a:hover, .active {
    background-color: #FF69B4;
}


.hero {
    background-image: url('https://images.pexels.com/photos/7130560/pexels-photo-7130560.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.cta-button {
    background-color: #FF69B4;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.cta-button:hover {
    background-color: #FF1493;
}


.back-button {
    display: block;
    margin: 12px auto;
    padding: 20px 10px;
    background-color: #FF69B4;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    width: 70px;
}
.back-button:hover {
    background-color: #FF1493;
}
